{% extends 'base.html.twig' %}
{% block title %}Holidays Application{% endblock %}


{% block body %}
<h1>Hi</h1>
{# {{ text }} #}
<br>
{{ country }}
{# {{ num }} #}
<form action="" method="GET">
    <input size="15" type="text" id="latbox" name="country" value=""> 
    <input type="submit" value="submit" />
</form>
<br/>


{% for i in num %}
{{ i }}<br>
{% endfor %}

{% endblock %}